#disponibilités{
    background-color: rgba(255, 235, 122, 0.8);
    font-size: 130%;
    box-shadow: 2px 2px 5px  rgb(255, 238, 83);
    cursor:auto;
}
#imageCalendrier{
    display: inline-block;
    width: 910px;
    height: 607px;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  rgb(53, 133, 187);
    margin-left: 20px;
    margin-bottom: 15px;
    opacity: 0.9;
} 
#légende{
    display: flex;
    flex-direction: row;
    background-color: rgba(256,256,256,0.8);
    height: 60px;
    width: 350px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
}
#princ{
    align-items: center;
    justify-content: center;
}
.legend{
    display: inline-block;
    height: 20px;
    width: 60px;
    margin: auto 20px;
}
#legendRéservé{
    background-color: rgb(255, 153, 153);
}
