/* /* /* --------------------------------- Media --------------------*/
@media(max-height: 800px){/* ------------------------- height 900*/
    body{
        transform: scale(0.90);
        margin: 0px;
    }
    h1{
        margin: 0 0 2rem 0;
    }
}
  @media(max-width: 1250px){/* --------------------------------- width 1250*/
    #imageAcceuil,
    #divSlide,
    #imageCalendrier{
        height: 569px;
        width: 806px;
    } 
}
 @media(max-width: 1050px){/* --------------------------------- width 1050*/
    #imageAcceuil,
    #divSlide,
    #imageCalendrier{
        height: 506px;
        width: 715px;
    } 
}
  @media(max-width: 950px){/* --------------------------------- width 950*/
    #imageAcceuil,
    #divSlide,
    #imageCalendrier{
        width: 627px;
        height: 443px;
    } 
    #princ{
        align-self: center;
    }
    #légende{
        width: 627px;
    }
    h2{
        margin-top: 0px;
    }
     #divSlide{
        top: 60px;
        margin-bottom: 60px;
    } 
    #Accueil{
        position: relative;
        top: 120px;
    }
    #Tourisme{
        margin-top: 5px;
    }
}
 @media(max-width: 850px){/* --------------------------------- width 750*/
    #nav_contenu{
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items:center;
    }
    #Chalet{
        flex-direction: row;
        flex-wrap: wrap;
        width: 600px;
        height: 65px;
        align-items: center;
        border: none;
        margin-bottom: 20px;
        line-height: 2rem;
        vertical-align: middle;
    }
    #imageAcceuil,
    #divSlide,
    #imageCalendrier{
        margin-left: 0;
    } 
    #légende{
        height: 60px;
        margin-left: 0;
    }
    #Contact{
        margin :20px auto 20px; auto;
    }
     #Tourisme{
         display: flex;
         flex-direction: row;
        left: 317px;
        bottom: -25px;
    }
    .region{
        height: 40px;
    }
}
 @media(max-width: 650px){/* --------------------------------- width 675*/
    #imageAcceuil,
    #divSlide,
    #imageCalendrier{
        width: 500px;
        height: 353px;
    } 
    #légende{
        width: 500px;
        height: 60px;
        margin-left: 0;
    }
    #Chalet{
        width: 500px;
    }
    #Tourisme{
        left: 145px;
    }
}
 