body{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 98vw;
    /* overflow: hidden; */
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1{
    font-size: 1.5rem;
    margin: 1.5rem auto 1.5rem auto;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
/* ----------------------------- div princ */
.princ{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
}
#princ_accueil{
    max-height: 130vw;
}
#princ_double{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}
#princ_tarifs{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 130vw;
}
#princ_region{
    background: url("../Fichiers/background/fond_sete_2.jpg") no-repeat center;
    background-attachment: fixed;
    max-height: 130vw;
}
#princ_contact{
    display:flex;
    align-items: center;
    justify-content: center;
    background: url("../Fichiers/background/fond_sete_2.jpg") no-repeat center;
    background-attachment: fixed;
    max-height: 130vw;
}
/* ----------------------------- NavBar */
#nav_contenu{
    position: fixed;
    z-index: 15;
    margin: 0;
}
#Chalet{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 100vw;
    height: 4rem;
    /* background-color: transparent; */
    background-color: rgba(70, 151, 245, 255);
    line-height: 2.5rem;
    padding: 0px;
}
.lienNav{
    padding: 10px auto;
    border: solid rgb(248, 244, 223) 2px;
    text-decoration: none;
    margin: 0.7rem 0.1rem 0.7rem 0.1rem;
    background-color: rgba(255, 248, 180, 0.9);
    border-radius: 3px;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
    width: 8.2rem;
    transition: 0.1s;
    text-decoration: underline transparent;
}
.lienNav:hover{
    transition: 0.4s;    
    background-color: rgba(255, 248, 100, 0.9);
    font-size: 115%;
    box-shadow: 3px 3px 10px  rgb(53, 133, 187);
    cursor: pointer;
    text-decoration: underline #333 2px;
    transition: text-decoration 1s;
}
.active{
    transition: 0.4s;
    background-color: rgba(255, 248, 100);
    box-shadow: 5px 5px 10px  rgb(53, 133, 187);
    font-size: 115%;
    cursor: auto;
    text-decoration: underline #333 2px;
}

 /* ----------------------------- Diapo */
#div_slide{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: none;
    max-width: 80vw;
    width: 80vw;
    max-height: 70vw;
    height: 70vh;
    border-radius: 5px;
    margin: 5px auto 5px auto;
} 
#img_slide{
    display: flex;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid black;
    max-width: 80vw;
    max-height: 70vw;
}
.zoom:hover{
    cursor: zoom-in;
}
/* ----------------------------- Diapo boutons */
.next_btn{
    position: absolute;
    right: 0;
}

.prev_btn{
    position: absolute;
    left: 0;
}

.btn_slide {
    top: 50%;
    width: 40px;
    margin-top: -2rem;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    -webkit-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-size: 1.2rem;
    font-weight: bold; 
    border-radius: 3px;
}

.btn_play_stop {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    bottom: 0;
}

.btn_pl {
    margin: 0px 20px;
}
.btn_slide:hover{
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(220, 220, 220);
}
.btn_slide:active{
    transition: 0.1s;
    color: rgb(71, 71, 71);
}
.hoverDiv{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(220, 220, 220);
} 

/* ---------------- Fullscreen effects ----*/

#modal_background_slide{
    position: absolute;
    top: 80px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 16;
}
#modal_content_slide{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
}
#img_modal{
    transform: scale(1.2);
    max-height: 100vh;
    cursor: zoom-out;
}
.btn_modal{
    top: 50%;
    transform: translateY(-200%);
    width: 60px;
    padding: 1rem;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    transition: 0.4s ease-out;
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 1.2rem;
    font-weight: bold; 
    background-color: rgba(156, 156, 156, 0.75);
}
#btn_pl_modal {
    bottom: 60px;
}

.btn_modal:hover{
    background-color: rgba(56, 56, 56, 0.75);
    color: rgb(220, 220, 220);
}
.btn_modal:active{
    transition: 0.1s;
    color: rgb(71, 71, 71);
}
#modal_background_plan{
    position: absolute;
    /* position: relative; */
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 16;
    align-self: center;
    justify-content: center;
}
#modal_content_plan{
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
#plan_modal{
    max-height: 100vh;
}
#plan_modal:hover{
    cursor:zoom-out;
}

/* ----------------------------- Plan */
#imgPlan{
    transform: scale(0.8);    
    max-width: 100vw;
}
#princ_description{
    width: 40vw;
    height: auto;
    text-align: justify;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    line-height: 1.2rem;
    margin: auto;
}
/* ----------------------------- Tarifs */
.divlég{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#imgCal{
    display: block;
    position: relative;
    transform: scale(0.9);
    margin: 5px auto;
    max-width: 100vw;
}
#légende{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    top: 20px;
    height: 60px;
    width: 715px;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 5px auto;
    background-color: rgb(256,256,256);
    border-radius: 5px;
    font-weight: bold;
}
#pdftarif{
    top: 20px;
}
.legend{
    display: inline-block;
    height: 20px;
    width: 60px;
    margin: 0px 20px 0px 20px; 
}
#pLegend{
    font-size: 0.8rem;
    font-weight:normal;
}
#ppLegend{
    font-size: 0.9rem;
    font-weight:bold;
}
#legend300{
    background-color: rgb(200, 156, 248);    
    margin: 10px 20px 10px 20px; 
}
#legend400{
    background-color: rgb(252, 186, 120);
}
#legend500{
    background-color: rgb(109, 220, 235);
}
/* ----------------------------- Pdf */
.pdf{
    display: inline-block;
    position:relative;
    margin: 5px auto;
    padding: 10px 5px;
    border: solid rgb(248, 244, 223) 2px;
    text-decoration: none;
    background-color: rgba(255, 248, 180, 0.9);
    border-radius: 3px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
    max-width: 100%;
    transition: 0.2s;
}
.pdf:hover{
    background-color: rgba(255, 248, 100, 0.9);
    cursor: pointer;
    transition: 0.2s;    
    font-size: 125%;
    box-shadow: 5px 5px 10px  rgb(53, 133, 187);
}
/* ----------------------------- Tourisme */
#Tourisme{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 70vh;
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 5px;
    margin: 5px auto 5px auto;
    max-width: 100vw;
    max-height: 70vw;
} 
#Tourisme div{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    height: 45%;
    width: 45%;
    vertical-align: middle;
}
#Tourisme a{
    transform: scale(0.5);
}
.region{
    display: block;
}
#imgHerault{
    background-color: #444;
}
.infobulle {
    position: relative;
}

.infobulle:hover::after,
.infobulle:focus::after {
    content: attr(aria-label);
    position: absolute;
    bottom: -3.5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color:black;
    font-size: 1.9rem;
    border: rgb(248, 244, 223) solid 1px;
    padding: 15px 5px;
    background-color:cornsilk;
    border-radius: 10px;
    width: 20rem;
}
/* ----------------------------- Contact */
#iframe{
    display: block;
    align-self: center;
    margin: 5px auto;
    max-width: 90vw;
}
#légendes{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: rgb(256,256,256);
    height: 60px;
    width: 715px;
    max-width: 90vw;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: bold;
    margin : 5px auto;
    max-width: 100vw;
}