body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    margin: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:url("../Fichiers/beach-1852945_1920.jpg") no-repeat center;
}
h1{
	font-size: 2rem;
	margin-bottom : 2rem;
	margin-top : 2rem;
}
#Puzzle{
    height: 70vh;
    width: 100%;
}
#divSlide{
    display: block;
    position: relative;
    background-color:rgba(256, 256, 256, 0.2);
    height: 607px;
    width: 910px;
    border-radius: 5px;
}
#Slide{
    display:block;
    height: 607px;
    margin:0 auto;
    border-radius: 5px;
}
/* ---------------- ----------- boutons controle */
.btn{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    margin-top:-2rem;
    padding: 1rem;
    border: none;
    outline:none;
    background-color: transparent;
    transition: 0.4s ease-out;
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-size: 1.2rem;
    font-weight: bold;
}
#next-btn{
    right:0;
    border-radius: 3px 0 0 3px ;
}
#prev-btn{
    left:0;
    border-radius: 0 3px 3px 0;
}
#stop{
    top:97%;
    bottom:0;
    margin-left: -4rem;;
    margin-right: 4rem;
    border-radius: 3px;
}
#play{
    top:97%;
    bottom:0;
    margin-left: 4rem;
    border-radius: 3px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(220, 220, 220);
}
.btn:active{
    color:rgb(71, 71, 71);
}
.hoverDiv{
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(220, 220, 220);
} 
/* ---------------- ----------- retour accueil */
#Accueil{
    height: 60px;
    width: 115px;
    margin:0;
    padding: 0;
    font-size: 1rem;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    border:solid rgba(186, 237, 253, 0.7) 2px;
    border-radius: 10px;
    box-shadow:5px 5px 15px  rgb(53, 133, 187);
    background-color: rgba(186, 237, 253, 0.2);
    font-weight: 600;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.4s;
}
#Accueil:hover{
    background-color: rgba(186, 237, 253, 0.9);
    cursor:pointer;
    box-shadow:10px 10px 25px  rgb(53, 133, 187);
    font-size:126%;
}